
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", system-ui, sans-serif;
  background-color: #f3f4f6;
  color: hsl(0, 0%, 17%); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
